<!-- MOSAICS -->
<div class="row mt-3rem">
  <div class="col-6">
    <h4>Mosaics info</h4>
  </div>
</div>

<div class="table-responsive table-striped ">
  <table mdbTable id="tablePreview" class="table table-hover table-bordered table-striped table-sm z-depth-0">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col" class="text-align-center"><b>{{head}}</b></th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let element of mosaicsArray; let i = index">
        <td class="font-size-08rem text-align-center">
          <a class="text-link mouse-pointer" [routerLink]="[linkRoute.explorerMosaic.link, element.nameMosaic.split(':')[1]]">{{element.nameMosaic}}</a>
        </td>
        <td class="font-size-08rem text-align-center">{{element.properties.divisibility}}</td>
        <td class="font-size-08rem text-align-center">{{element.properties.levyMutable}}</td>
        <td class="font-size-08rem text-align-center">{{element.properties.supplyMutable}}</td>
        <td class="font-size-08rem text-align-center">{{element.properties.transferable}}</td>
        <td *ngIf="viewAmount" class="font-size-08rem text-align-center">{{element.formattedAmount}}</td>
        <td class="font-size-08rem text-align-center mouse-pointer th-lg"
          [routerLink]="[linkRoute.explorerMosaic.link, element.nameMosaic]">
          <i style="font-size: 18px; color: #118a81;" class="fa fa-search-plus" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
