<div class="table-responsive table-striped">
  <table mdbTable id="tablePreview" class="table table-hover table-bordered table-striped table-sm z-depth-0">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col" class="text-center">{{head}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of blockInfo; let i = index">
        <th class="font-size-08rem text-center th-sm" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">
          <span class="font-size-08rem">
              <a class="text-link mouse-pointer" [routerLink]="[linkRoute.explorerBlock.link, item.height.lower]">{{item.height.lower}}</a>
            </span>
        </th>
        <td class="text-align-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{item.date}}</td>
        <td class="font-size-08rem text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">
          <span class="font-size-08rem">
            <a class="text-link mouse-pointer" [routerLink]="[linkRoute.explorerAccount.link, item.signer.address['address']]">{{item.signer.publicKey}}</a>
          </span>
        </td>
        <td class="font-size-08rem text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{item.difficulty.compact()}}</td>
        <td class="font-size-08rem text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{item.totalFee.compact()}}</td>
        <td class="font-size-08rem text-align-center th-lg mouse-pointer" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" (click)="viewInfoTransaction(item, elements[i]);">
          <angular2csv [data]="data" filename="test.csv" [options]="options"></angular2csv>
          <i style="font-size: 18px; color: #118a81;" class="fa fa-search-plus" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
    <tfoot class="background-gris w-100">
      <tr>
        <td colspan="6">
          <mdb-table-pagination (nextPageClick)="onNextPageClick($event)" (previousPageClick)="onPreviousPageClick($event)">
          </mdb-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
