<div class="w-w-b-w mb-3rem">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 mx-auto">
          <div class="mt-3r">
            <mdb-card>
              <mdb-card-header class="background-explorer white-text text-align-center py-4">
                <img src="assets/images/logo/proximax-black.png" style="width: 150px;">
              </mdb-card-header>

              <mdb-card-body class="backg-beige">
                <div class="row">
                  <div class="col-12">
                    <h4>Mosaic Info</h4>
                  </div>
                </div>
                <hr>

              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </div>
    </div>
  </div>
