<div class="w-w-b-w mb-3rem">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="mt-3r">
            <app-search-by-filter></app-search-by-filter>
          <mdb-card>
            <mdb-card-header class="background-explorer white-text text-align-center py-4">
              <img src="assets/images/logo/proximax-black.png" style="width: 150px;">
            </mdb-card-header>

            <mdb-card-body class="backg-beige">
              <div class="row">
                <div class="col-12">
                  <h4>Block Info</h4>
                </div>
              </div>
              <hr>

              <ng-container *ngIf="showInfo">
                <div class="row mt-08rem">
                  <div class="col-sm-4 col-md-3"><span class="fs-08rem">Height:</span></div>
                  <div class="col-sm-8 col-md-9"><span class="fs-08rem">{{blockInfo?.height.compact()}}</span></div>
                </div>

                <div class="row mt-08rem">
                  <div class="col-sm-4 col-md-3"><span class="fs-08rem">Difficulty:</span></div>
                  <div class="col-sm-8 col-md-9"><span class="fs-08rem">{{blockInfo?.difficulty.compact()}}</span></div>
                </div>

                <div class="row mt-08rem">
                  <div class="col-sm-4 col-md-3"><span class="fs-08rem">Timestamp:</span></div>
                  <div class="col-sm-8 col-md-9"><span class="fs-08rem">{{blockInfo?.date}}</span></div>
                </div>

                <div class="row mt-08rem">
                  <div class="col-sm-4 col-md-3"><span class="fs-08rem">Hash:</span></div>
                  <div class="col-sm-8 col-md-9"><span class="fs-08rem">{{blockInfo?.hash}}</span></div>
                </div>

                <div class="row mt-08rem">
                  <div class="col-sm-4 col-md-3"><span class="fs-08rem">Harvester/Forger:</span></div>
                  <div class="col-sm-8 col-md-9">
                    <span class="font-size-08rem">
                      <a class="text-link" [routerLink]="[linkRoute.explorerAccount.link, blockInfo.signer.address['address']]">{{blockInfo?.signer.publicKey}}</a>
                    </span>
                  </div>
                </div>

                <div class="row mt-08rem">
                  <div class="col-sm-4 col-md-3"><span class="fs-08rem"># Transactions:</span></div>
                  <div class="col-sm-8 col-md-9"><span class="fs-08rem">{{blockInfo?.numTransactions}}</span></div>
                </div>

                <div class="row mt-08rem">
                  <div class="col-sm-4 col-md-3"><span class="fs-08rem">Fees:</span></div>
                  <div class="col-sm-8 col-md-9"><span class="fs-08rem">{{blockInfo?.totalFee.compact()}}</span></div>
                </div>
              </ng-container>

              <!-- RECENT TRANSACTIONS -->
              <ng-container *ngIf="showRecentTransaction">
                <app-recent-transactions [elements]=blockTransactions></app-recent-transactions>
              </ng-container>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</div>
