<ng-container>
  <div class="row mt-3rem">
    <div class="col-6">
      <h4>Recent transactions</h4>
      <h6>Account transactions</h6>
    </div>
  </div>

  <div class="table-responsive table-striped mt-1-5rem">
    <table mdbTable id="tablePreview" class="table table-hover table-bordered table-striped table-sm z-depth-0">
      <thead>
        <tr>
          <th *ngFor="let head of headElements; let i = index" scope="col" class="text-center"><b>{{head}}</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of elements; let i = index">
          <td class="th-lg text-center" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">
            <span class="fs-08rem fw-bolder">{{item?.deadline.value.toString()}}</span>
          </td>
          <td class="font-size-08rem text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">
            <ng-container *ngIf="item?.mosaics.length > 0; else notAmount">
              {{item?.formattedAmount}}
            </ng-container>

            <ng-template #notAmount>
              0
            </ng-template>
          </td>
          <td class="font-size-08rem text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">
            {{item?.fee.compact()}}
          </td>
          <td class="font-size-08rem text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">
            <span class="font-size-08rem">
              <i *ngIf="item.type === arraTypeTransaction.transfer.id; else notRecipient" [ngStyle]="{'color': item.isSigner === true ? 'red' : 'green' }" style="padding-right: 10px;" class="fa fa-send" aria-hidden="true"></i>
              <a class="text-link mouse-pointer" [routerLink]="[linkRoute.explorerAccount.link, item.signer?.address['address']]" target="_blank">{{item.signer?.address.pretty()}}</a>
            </span>
          </td>
          <td class="font-size-08rem text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">
            <ng-container *ngIf="item.type === arraTypeTransaction.transfer.id; else notRecipient">
              <span class="font-size-08rem">
                <a class="text-link mouse-pointer" [routerLink]="[linkRoute.explorerAccount.link, item.recipient?.address]" target="_blank">{{item?.recipient.pretty()}}</a>
              </span>
            </ng-container>
            <ng-template #notRecipient>
              XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            </ng-template>
          </td>
          <td class="font-size-08rem text-align-center th-lg mouse-pointer" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" (click)="viewInfoTransaction(item, elements[i]); basicModal.show();">
            <i style="font-size: 18px; color: #118a81;" class="fa fa-search-plus" aria-hidden="true"></i>
          </td>
          <ng-container *ngTemplateOutlet="viewTypeTransfer; context:item"></ng-container>
        </tr>
      </tbody>
      <tfoot class="background-gris w-100">
        <tr>
          <td colspan="6">
            <mdb-table-pagination (nextPageClick)="onNextPageClick($event)" (previousPageClick)="onPreviousPageClick($event)">
            </mdb-table-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</ng-container>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header background-header">
        <p class="heading lead" style="font-weight: 500;">Transaction info</p>
        <button type="button" class="close" data-dismiss="modal" (click)="basicModal.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body w-w-b-w">
        <!-- TYPE TRANSFER -->
        <ng-container *ngIf="typeTransaction === arraTypeTransaction.transfer.id">
          <app-transfer-type [nameTransaction]=nameTransaction [dataSelected]=dataSelected [infoMosaic]=infoMosaic></app-transfer-type>
        </ng-container>

        <!-- REGISTER NAMESPACE -->
        <ng-container *ngIf="typeTransaction === arraTypeTransaction.registerNameSpace.id">
          <app-register-namespace [nameTransaction]=nameTransaction [dataSelected]=dataSelected></app-register-namespace>
        </ng-container>

        <!-- MOSAIC DEFINITION -->
        <ng-container *ngIf="typeTransaction === arraTypeTransaction.mosaicDefinition.id">
          <app-mosaic-definition [nameTransaction]=nameTransaction [dataSelected]=dataSelected></app-mosaic-definition>
        </ng-container>

        <!-- TYPE MOSAIC SUPPLY CHANGE -->
        <ng-container *ngIf="typeTransaction === arraTypeTransaction.mosaicSupplyChange.id">
          <app-type-mosaic-supply-change [nameTransaction]=nameTransaction [dataSelected]=dataSelected></app-type-mosaic-supply-change>
        </ng-container>

        <!-- TYPE MODIFY MULTISIG ACCOUNT -->
        <ng-container *ngIf="typeTransaction === arraTypeTransaction.modifyMultisigAccount.id">
          <app-modify-multisig-account [nameTransaction]=nameTransaction [dataSelected]=dataSelected></app-modify-multisig-account>
        </ng-container>

        <!-- AGGREGATE COMPLETE -->
        <ng-container *ngIf="typeTransaction === arraTypeTransaction.aggregateComplete.id">
          <app-aggregate-complete [nameTransaction]=nameTransaction [dataSelected]=dataSelected></app-aggregate-complete>
        </ng-container>

        <!-- AGGREGATE BONDED -->
        <ng-container *ngIf="typeTransaction === arraTypeTransaction.aggregateBonded.id">
          <app-aggregate-bonded [nameTransaction]=nameTransaction [dataSelected]=dataSelected></app-aggregate-bonded>
        </ng-container>
      </div>
    </div>
  </div>
</div>
