<div class="w-w-b-w mb-3rem">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
        <div class="mt-3r">
          <app-search-by-filter></app-search-by-filter>
          <mdb-card>
            <mdb-card-header class="background-explorer white-text text-align-center py-4">
              <img src="assets/images/logo/proximax-black.png" style="width: 150px;">
            </mdb-card-header>

            <mdb-card-body class="backg-beige">
              <div class="table-responsive table-striped">
                <table mdbTable id="tablePreview" class="table table-hover table-bordered table-striped table-sm z-depth-0">
                  <thead>
                    <tr>
                      <th *ngFor="let head of headElements; let i = index" scope="col" class="text-center">{{head}}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="mouse-pointer" *ngFor="let item of blockInfo; let i = index">
                      <th class="font-size-08rem text-center th-sm" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">
                        <span class="font-size-08rem">
                            <a class="text-link" [routerLink]="[linkRoute.explorerBlock.link, item.height.lower]">{{item.height.lower}}</a>
                          </span>
                      </th>
                      <td class="text-align-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{item.date}}</td>
                      <td class="font-size-08rem text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">
                        <span class="font-size-08rem">
                          <a class="text-link" [routerLink]="[linkRoute.explorerAccount.link, item.signer.address['address']]">{{item.signer.publicKey}}</a>
                        </span>
                      </td>
                      <td class="font-size-08rem text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{item.difficulty.compact()}}</td>
                      <td class="font-size-08rem text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{item.totalFee.compact()}}</td>
                    </tr>
                  </tbody>
                  <tfoot class="background-gris w-100">
                    <tr>
                      <td colspan="6">
                        <mdb-table-pagination (nextPageClick)="onNextPageClick($event)" (previousPageClick)="onPreviousPageClick($event)">
                        </mdb-table-pagination>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</div>
