.label-search-by-filter{
  color: white !important;
  font-weight: 400;
  font-size: 0.9rem !important;
}

.md-form input[type=text], .md-form input[type=password],
.md-form input[type=email], .md-form input[type=url],
.md-form input[type=time], .md-form input[type=date],
.md-form input[type=datetime-local], .md-form input[type=tel],
.md-form input[type=number], .md-form input[type=search-md],
.md-form input[type=search], .md-form textarea.md-textarea{
  color: white !important;
}

.md-form input[type=text]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]),
.md-form input[type=time]:focus:not([readonly]), .md-form input[type=date]:focus:not([readonly]),
.md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]),
.md-form input[type=number]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]){
  box-shadow: 0 1px 0 0 #ffffff;
  border-bottom: 1px solid #ffffff;
}
