<div class="w-w-b-w mb-3rem">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="mt-3r">
          <app-search-by-filter></app-search-by-filter>
          <mdb-card>
            <mdb-card-body class="backg-beige">
              <div class="row">
                <div class="col-12">
                  <h4>Namespace Info</h4>
                </div>
              </div>
              <hr>

              <ng-container *ngIf="showNamespaceInfo">
                <!-- INFO BASIC -->
                <ng-container>
                  <!-- Namespace NAME -->
                  <div class="row mt-1-5rem" *ngIf="namespaceInfo?.namespaceName">
                    <div class="col-sm-4 col-md-3"><span class="fs-08rem">Namespace:</span></div>
                    <div class="col-sm-8 col-md-9">
                      <span class="fs-08rem">{{namespaceInfo?.namespaceName}}</span>
                    </div>
                  </div>

                  <!-- Namespace ID -->
                  <div class="row mt-1-5rem">
                    <div class="col-sm-4 col-md-3"><span class="fs-08rem">Namespace Id:</span></div>
                    <div class="col-sm-8 col-md-9">
                      <span class="fs-08rem">{{namespaceInfo?.levels[0].id.toHex()}}</span>
                    </div>
                  </div>

                  <!-- start height -->
                  <div class="row mt-1-5rem">
                    <div class="col-sm-4 col-md-3"><span class="fs-08rem">Start Height:</span></div>
                    <div class="col-sm-8 col-md-9">
                      <span class="fs-08rem">
                          <a class="text-link mouse-pointer" [routerLink]="[linkRoute.explorerBlock.link, namespaceInfo?.startHeight?.compact()]">{{namespaceInfo?.startHeight?.compact()}}</a>
                        </span>
                    </div>
                  </div>

                  <!-- height -->
                  <div class="row mt-1-5rem">
                    <div class="col-sm-4 col-md-3"><span class="fs-08rem">End Height:</span></div>
                    <div class="col-sm-8 col-md-9">
                      <span class="fs-08rem">{{namespaceInfo?.endHeight?.compact()}}</span>
                    </div>
                  </div>

                  <!-- active -->
                  <div class="row mt-1-5rem">
                    <div class="col-sm-4 col-md-3"><span class="fs-08rem">Active:</span></div>
                    <div class="col-sm-8 col-md-9">
                      <span class="fs-08rem">{{namespaceInfo?.active}}</span>
                    </div>
                  </div>

                </ng-container>

                <!-- OWNER -->
                <ng-container>
                  <div class="row mt-2rem">
                    <div class="col-6">
                      <h4>Owner</h4>
                    </div>
                  </div>

                  <!-- Address -->
                  <div class="row mt-1-5rem">
                    <div class="col-sm-4 col-md-3"><span class="fs-08rem">Address:</span></div>
                    <div class="col-sm-8 col-md-9">
                      <span class="fs-08rem">
                          <a class="text-link mouse-pointer" [routerLink]="[linkRoute.explorerAccount.link, namespaceInfo?.owner?.address['address']]">{{namespaceInfo?.owner?.address.pretty()}}</a>
                        </span>
                    </div>
                  </div>

                  <!-- Public key -->
                  <div class="row mt-1-5rem">
                    <div class="col-sm-4 col-md-3"><span class="fs-08rem">Public key:</span></div>
                    <div class="col-sm-8 col-md-9">
                      <span class="fs-08rem">{{namespaceInfo?.owner?.publicKey}}</span>
                    </div>
                  </div>
                </ng-container>

                <!-- MOSAICS -->
                <ng-container *ngIf="viewMosaics">
                  <div class="row mt-3rem">
                    <div class="col-6">
                      <h4>Mosaics info</h4>
                    </div>
                  </div>

                  <div class="table-responsive table-striped ">
                    <table mdbTable id="tablePreview" class="table table-hover table-bordered table-striped table-sm z-depth-0">
                      <thead>
                        <tr>
                          <th *ngFor="let head of headElements" scope="col" class="text-align-center"><b>{{head}}</b></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr mdbTableCol *ngFor="let element of mosaicsArray">
                          <th scope="row" class="font-size-08rem text-align-center"> {{element.mosaicId.id.toHex()}} </th>
                          <td class="font-size-08rem text-align-center">
                            <a class="text-link mouse-pointer" [routerLink]="[linkRoute.explorerMosaic.link, element.nameMosaic]">{{element.nameMosaic}}</a>
                          </td>
                          <td class="font-size-08rem text-align-center">{{element.properties.divisibility}}</td>
                          <td class="font-size-08rem text-align-center">{{element.properties.levyMutable}}</td>
                          <td class="font-size-08rem text-align-center">{{element.properties.supplyMutable}}</td>
                          <td class="font-size-08rem text-align-center">{{element.properties.transferable}}</td>
                          <td class="font-size-08rem text-align-center mouse-pointer th-lg" [routerLink]="[linkRoute.explorerMosaic.link, element.nameMosaic]">
                            <i style="font-size: 18px; color: #118a81;" class="fa fa-search-plus" aria-hidden="true"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </ng-container>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</div>
